######################################
# values.yaml : 변하지 않는 기본 값 선언
# values-{env}.yaml : 환경마다 달라지는 값 선언
######################################

######################################
# 공통 메타 Configuration
######################################
app:
  labels:
    app: user-service
    env: local
    project: ecommerce
    team: user-team

######################################
# Deployment Configuration
######################################
deployment:
  enabled: true
  replicaCount: 2
  containers:
    - name: user-service-api
      image: youngmin1085/user-service
      tag: latest
      ports:
        - name: http
          containerPort: 8080
          protocol: TCP
      resources:
        requests:
          cpu: "0.25"
          memory: "512Mi"
        limits:
          cpu: "0.5"
          memory: "1Gi"

######################################
# Service Configuration
######################################
service:
  enabled: true
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  type: ClusterIP

######################################
# Ingress Configuration
######################################
ingress:
  enabled: true
  annotation: {}
  ingressClassName: "nginx"
  rules:
    - host: localhost
      http:
        paths:
          - path: /api/v1/users
            pathType: Prefix
            backend:
              service:
                name: user-service-svc
                port:
                  number: 8080
