######################################
# Common Config
######################################
app:
  labels:
    app: order-service
    env: local
    project: ecommerce
    team: order-team

######################################
# Deployment Config
######################################
deployment:
  enabled: true
  replicaCount: 2
  containers:
    - name: order-service-api
      image: youngmin1085/order-service
      tag: latest
      imagePullPolicy: Always
      ports:
        - name: http
          containerPort: 8080
          protocol: TCP
      env:
        - name: SPRING_PROFILES_ACTIVE
          value: local
      resources:
        requests:
          cpu: "0.25"
          memory: "512Mi"
        limits:
          cpu: "0.5"
          memory: "1Gi"

######################################
# Service Config
######################################
service:
  enabled: true
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  type: ClusterIP

######################################
# Ingress Config
######################################
ingress:
  enabled: true
  annotation: {}
  ingressClassName: "nginx"
  rules:
    - http:
        paths:
          - path: /api/v1/orders
            pathType: Prefix
            backend:
              service:
                name: order-service-svc
                port:
                  number: 8080
