###############################################################################
# Kind Cluster configuration
# 1. kind cluster의 경우 Docker Container에 구동되는 특징이 존재
# 2. hostPort는 OS의 Port이고 containerPort는 kind cluster의 node의 port를 의미
# 3. node port를 ingress nginx controller와 동일하게 매핑하여 통신 하도록 설정
###############################################################################
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: helm-cluster
nodes:
  - role: control-plane
  - role: worker
    extraPortMappings:
      - hostPort: 30080
        containerPort: 30080 # HTTP -> Ingress Controller(30080) svc -> Ingress Controller(Ingress 규칙 읽음) pod  -> svc -> pod
        protocol: TCP
      - hostPort: 30443
        containerPort: 30443 # HTTPS
        protocol: TCP
      - hostPort: 30180
        containerPort: 30180 # ArgoCD HTTP
        protocol: TCP
      - hostPort: 30543
        containerPort: 30543 # ArgoCD HTTPS
        protocol: TCP
